{
  "openapi": "3.1.0",
  "info": {
    "title": "glomo discovery test fixture",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.glomopay.com/api/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/payouts": {
      "post": {
        "tags": [
          "Payout"
        ],
        "summary": "Create a new payout",
        "operationId": "createPayout",
        "description": "Create a payout in one of two ways:\n- **Payout without quote** — specify the beneficiary, currencies and amount inline. Fees and the FX\n  rate are determined at creation time (`CreatePayoutWithoutQuoteRequest`).\n\n- **Payout with quote** — pass a `quote_id` from `POST /quotes` (with `resource: payout`) to settle\n  against a locked rate and fee breakdown. The currencies, amount and payment rail are derived from\n  the quote and must not be sent (`CreatePayoutWithQuoteRequest`).\n\nThe request variant is selected by the presence of `quote_id`.\nIf payout queueing is enabled on your account, every payout is accepted with `status: queued`, including one that the balance in the source currency already covers, and a payout the balance does not cover is accepted instead of rejected. Glomo releases it automatically once the balance covers the amount plus fees. Fees and the FX rate are fixed at creation and honoured when the payout is released. Without payout queueing, a short balance is rejected at creation.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreatePayoutWithoutQuoteRequest",
                    "required": [
                      "purpose_code",
                      "beneficiary_id",
                      "source_currency",
                      "destination_currency"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/CreatePayoutWithQuoteRequest",
                    "required": [
                      "quote_id",
                      "beneficiary_id",
                      "purpose_code"
                    ]
                  }
                ]
              },
              "examples": {
                "payout_without_quote": {
                  "summary": "Payout without quote (no quote_id)",
                  "value": {
                    "purpose_code": "S0802",
                    "beneficiary_id": "bene_a1b2c3d4e5",
                    "source_currency": "USD",
                    "destination_currency": "INR",
                    "source_amount": 100000,
                    "payment_rail": "neft",
                    "invoice_number": "INV-2026-001",
                    "request_id": "req-7f3a9c20",
                    "documents": [
                      "doc_11aa22bb33"
                    ],
                    "notes": {
                      "internal_ref": "batch-42"
                    }
                  }
                },
                "payout_with_quote": {
                  "summary": "Payout with quote (quote_id present)",
                  "value": {
                    "quote_id": "quote_3m4n5o6p7q",
                    "beneficiary_id": "bene_a1b2c3d4e5",
                    "purpose_code": "S0802",
                    "invoice_number": "INV-2026-001",
                    "request_id": "req-7f3a9c20",
                    "documents": [
                      "doc_11aa22bb33"
                    ],
                    "notes": {
                      "internal_ref": "batch-42"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payout created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payout"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — validation error. For quote-based payouts, possible messages include `quote_id not found`, `quote_id has expired`, `quote_id has already been used`, `source_amount cannot be specified when quote_id is present` (likewise for any other quote-derived field), `Quote is not compatible with the selected beneficiary` (the quote's rail is not supported by the chosen beneficiary), and `Quote is not a payout quote` (the `quote_id` belongs to a payin quote).\nWhen the balance does not cover the payout and payout queueing is not enabled on your account, the message reads `Account has insufficient balance to process this transaction. Additional amount required: N.` where `N` is the shortfall, in the smallest unit of the source currency.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "A payout with this `request_id` already exists on your account. The existing payout is not returned; look it up with `GET /v1/payouts?request_id=<your_request_id>`.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Conflict"
                    },
                    "message": {
                      "type": "string",
                      "example": "Record already exists"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/payment": {
      "get": {
        "tags": [
          "Payment"
        ],
        "summary": "List all payments",
        "description": "Returns a list of your payments, sorted by creation date with the most recent first.\n\nFilters combine with AND, with one exception: `payin_id` and `subscription_id` are mutually exclusive\nand sending both returns `400`.\n\nThe `status` filter accepts only `in_progress`, `success`, `failed` and `action_required`; any other\nvalue returns `400`. That is not the same set of values a payment can come back with, and the filter\ndoes not map onto the response field one-for-one: a payment returned with `status: under_review` is\nmatched by `status=in_progress`, and some payments returned with `status: in_progress` are not matched\nby `status=in_progress` at all. Treat the filter as a coarse narrowing and read `status` on each\npayment you get back.\n\n`compliance_status` is a separate field with its own filter and moves independently of `status`. Most\npayments have no compliance status at all, so filtering on it will exclude them.\n",
        "operationId": "getPayments",
        "parameters": [
          {
            "in": "query",
            "name": "customer_id",
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the customer.",
            "example": "cust_E602sMzgjpDC"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "success",
                "failed",
                "action_required",
                "in_progress"
              ]
            },
            "example": "success",
            "description": "Status of payin to filter"
          },
          {
            "in": "query",
            "name": "compliance_status",
            "schema": {
              "type": "string",
              "enum": [
                "under_review",
                "action_required",
                "approved",
                "rejected"
              ]
            },
            "description": "Filters payments by the outcome of their compliance review.",
            "example": "approved"
          },
          {
            "in": "query",
            "name": "payin_id",
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the payin. Accepts a payment link ID (`plink_`), an order ID\n(`order_`) or an Add Balance top-up ID (`addfunds_`). Any other value returns `400`.\n",
            "example": "plink_E602dMzgjpDC"
          },
          {
            "in": "query",
            "name": "payment_type",
            "schema": {
              "type": "string",
              "enum": [
                "payment_link",
                "orders",
                "add_funds"
              ]
            },
            "description": "Filters payments by their payin type. Use `add_funds` to list only Add Balance top-ups crediting your Funded Balance.\n",
            "example": "add_funds"
          },
          {
            "in": "query",
            "name": "subscription_id",
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the subscription.",
            "example": "sub_68877570b5zeE"
          },
          {
            "in": "query",
            "name": "currency",
            "description": "Filters on the payment's `requested_currency` / `converted_currency` — the currency the merchant asked for, which is also the currency of the order or payment link the payment belongs to. It does not filter on `payment_currency`, the currency the customer was actually charged in. Those two differ whenever local payments are in play: a card payment against a USD order is commonly charged to the customer in AED, and that payment matches `USD`, not `AED`. Matching is case-insensitive.\n",
            "schema": {
              "type": "string",
              "format": "iso-4217",
              "description": "The currency in which the payment is made. The currency code is in [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) format, case-insensitive. For example, USD.\n"
            },
            "example": "USD"
          },
          {
            "in": "query",
            "name": "request_id",
            "schema": {
              "type": "string"
            },
            "description": "Return only the payment created with this `request_id`.",
            "example": "unique_request_id_123"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of payments matching the filters. **Note:** If filters do not match, API will return an empty list.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Payment"
                      }
                    },
                    "page_meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v2/beneficiaries": {
      "post": {
        "tags": [
          "beneficiary_v2"
        ],
        "summary": "Create a Beneficiary",
        "description": "Creates a beneficiary with structured nested objects for beneficiary details, address, and bank account or UPI information.\n",
        "operationId": "createBeneficiaryV2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeneficiaryV2CreateRequest"
              },
              "examples": {
                "payout_usd": {
                  "summary": "Payout Beneficiary — USD (SWIFT)",
                  "value": {
                    "category": "payout",
                    "beneficiary": {
                      "name": "REDACTED",
                      "type": "individual",
                      "address": {
                        "address_line1": "REDACTED",
                        "city": "REDACTED",
                        "state": "CA",
                        "country_code": "USA",
                        "postal_code": "REDACTED"
                      }
                    },
                    "bank_account": {
                      "account_number": "REDACTED",
                      "swift_code": "REDACTED",
                      "currency": "USD"
                    },
                    "notes": {
                      "invoice_ref": "INV-2026-002"
                    }
                  }
                },
                "payout_eur": {
                  "summary": "Payout Beneficiary — EUR (SEPA, IBAN only)",
                  "value": {
                    "category": "payout",
                    "beneficiary": {
                      "name": "REDACTED",
                      "type": "business",
                      "address": {
                        "address_line1": "REDACTED",
                        "city": "REDACTED",
                        "state": "Berlin",
                        "country_code": "DEU",
                        "postal_code": "REDACTED"
                      }
                    },
                    "bank_account": {
                      "account_number": "REDACTED",
                      "currency": "EUR"
                    }
                  }
                },
                "payout_gbp": {
                  "summary": "Payout Beneficiary — GBP (Faster Payments, sort code)",
                  "value": {
                    "category": "payout",
                    "beneficiary": {
                      "name": "REDACTED",
                      "type": "individual",
                      "address": {
                        "address_line1": "REDACTED",
                        "city": "REDACTED",
                        "state": "England",
                        "country_code": "GBR",
                        "postal_code": "REDACTED"
                      }
                    },
                    "bank_account": {
                      "account_number": "REDACTED",
                      "local_routing_number": "REDACTED",
                      "currency": "GBP"
                    }
                  }
                },
                "payout_aed": {
                  "summary": "Payout Beneficiary — AED (IBAN only)",
                  "value": {
                    "category": "payout",
                    "beneficiary": {
                      "name": "REDACTED",
                      "type": "business",
                      "address": {
                        "address_line1": "REDACTED",
                        "city": "REDACTED",
                        "state": "Dubai",
                        "country_code": "ARE",
                        "postal_code": "REDACTED"
                      }
                    },
                    "bank_account": {
                      "account_number": "REDACTED",
                      "currency": "AED"
                    }
                  }
                },
                "payout_aud": {
                  "summary": "Payout Beneficiary — AUD (NPP, BSB)",
                  "value": {
                    "category": "payout",
                    "beneficiary": {
                      "name": "REDACTED",
                      "type": "business",
                      "address": {
                        "address_line1": "REDACTED",
                        "city": "REDACTED",
                        "state": "VIC",
                        "country_code": "AUS",
                        "postal_code": "REDACTED"
                      }
                    },
                    "bank_account": {
                      "account_number": "REDACTED",
                      "local_routing_number": "REDACTED",
                      "currency": "AUD"
                    }
                  }
                },
                "payout_inr": {
                  "summary": "Payout Beneficiary — INR (IFSC)",
                  "value": {
                    "category": "payout",
                    "beneficiary": {
                      "name": "REDACTED",
                      "type": "individual",
                      "address": {
                        "address_line1": "REDACTED",
                        "city": "REDACTED",
                        "state": "Karnataka",
                        "country_code": "IND",
                        "postal_code": "REDACTED"
                      }
                    },
                    "bank_account": {
                      "account_number": "REDACTED",
                      "local_routing_number": "REDACTED",
                      "currency": "INR"
                    }
                  }
                },
                "payout_upi_beneficiary": {
                  "summary": "Payout Beneficiary — INR (UPI)",
                  "value": {
                    "category": "payout",
                    "beneficiary": {
                      "name": "REDACTED",
                      "type": "individual",
                      "address": {
                        "address_line1": "REDACTED",
                        "city": "REDACTED",
                        "state": "Karnataka",
                        "country_code": "IND",
                        "postal_code": "REDACTED"
                      }
                    },
                    "upi_account": {
                      "upi_id": "1111111111@ybl"
                    },
                    "notes": {
                      "invoice_ref": "INV-2026-003"
                    }
                  }
                },
                "lrs_beneficiary": {
                  "summary": "LRS Beneficiary with all fields",
                  "value": {
                    "category": "lrs",
                    "beneficiary": {
                      "name": "REDACTED",
                      "type": "business",
                      "email": "REDACTED",
                      "phone": "REDACTED",
                      "nickname": "REDACTED",
                      "address": {
                        "address_line1": "REDACTED",
                        "address_line2": "REDACTED",
                        "city": "REDACTED",
                        "state": "NY",
                        "country_code": "USA",
                        "postal_code": "REDACTED"
                      }
                    },
                    "bank_account": {
                      "account_number": "REDACTED",
                      "name": "REDACTED",
                      "swift_code": "REDACTED",
                      "local_routing_number": "REDACTED",
                      "currency": "USD",
                      "address": {
                        "address_line1": "REDACTED",
                        "city": "REDACTED",
                        "state": "NY",
                        "country_code": "USA",
                        "postal_code": "REDACTED"
                      },
                      "intermediate_bank": {
                        "name": "REDACTED",
                        "country": "USA",
                        "swift_code": "REDACTED",
                        "account_number": "REDACTED"
                      }
                    },
                    "notes": {
                      "invoice_ref": "INV-2026-001",
                      "project": "Alpha"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Beneficiary created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficiaryV2"
                },
                "example": {
                  "id": "bene_5JU9yv0lGSUP",
                  "name": "REDACTED",
                  "type": "business",
                  "category": "lrs",
                  "status": "pending",
                  "email": "REDACTED",
                  "phone": "REDACTED",
                  "nickname": "REDACTED",
                  "upi_account": null,
                  "created_at": "2025-01-15T10:00:00Z",
                  "updated_at": "2025-01-15T10:00:00Z",
                  "address": {
                    "address_line1": "REDACTED",
                    "address_line2": "REDACTED",
                    "city": "REDACTED",
                    "state": "NY",
                    "country_code": "USA",
                    "postal_code": "REDACTED"
                  },
                  "bank_account": {
                    "account_number": "REDACTED",
                    "name": "REDACTED",
                    "swift_code": "REDACTED",
                    "local_routing_number": "REDACTED",
                    "currency": "USD",
                    "address": {
                      "address_line1": "REDACTED",
                      "address_line2": "REDACTED",
                      "city": "REDACTED",
                      "state": "NY",
                      "country_code": "USA",
                      "postal_code": "REDACTED"
                    },
                    "intermediate_bank": {
                      "name": "REDACTED",
                      "country": "USA",
                      "swift_code": "REDACTED",
                      "account_number": "REDACTED"
                    }
                  },
                  "notes": {
                    "invoice_ref": "INV-2026-001",
                    "project": "Alpha"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation errors in the request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message indicating which fields failed validation"
                    }
                  }
                },
                "examples": {
                  "missing_category": {
                    "summary": "Missing category field",
                    "value": {
                      "error": "Bad Request",
                      "message": "Category can't be blank, Category must be one of: lrs, payout"
                    }
                  },
                  "invalid_category": {
                    "summary": "Invalid category value",
                    "value": {
                      "error": "Bad Request",
                      "message": "Category must be one of: lrs, payout"
                    }
                  },
                  "missing_beneficiary_name": {
                    "summary": "Missing beneficiary name",
                    "value": {
                      "error": "Bad Request",
                      "message": "Beneficiary name can't be blank"
                    }
                  },
                  "invalid_swift_code": {
                    "summary": "Invalid SWIFT code format",
                    "value": {
                      "error": "Bad Request",
                      "message": "Swift code must be 8 to 11 characters long"
                    }
                  },
                  "lrs_invalid_swift_length": {
                    "summary": "LRS SWIFT code must be 8 characters",
                    "value": {
                      "error": "Bad Request",
                      "message": "Swift code must be 8 characters long"
                    }
                  },
                  "lrs_missing_routing_number": {
                    "summary": "LRS requires local routing number",
                    "value": {
                      "error": "Bad Request",
                      "message": "Local routing number can't be blank"
                    }
                  },
                  "unresolved_bank_details": {
                    "summary": "Bank details omitted and could not be resolved",
                    "value": {
                      "error": "Bad Request",
                      "message": "Could not resolve bank details from the swift_code/local_routing_number provided. Send bank_account.name and bank_account.address, or correct the identifier."
                    }
                  },
                  "missing_address": {
                    "summary": "Missing beneficiary address",
                    "value": {
                      "error": "Bad Request",
                      "message": "Beneficiary address is required"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Business logic errors (e.g., duplicate bank account)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unprocessable Entity"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message indicating the business logic error"
                    }
                  }
                },
                "examples": {
                  "duplicate_account": {
                    "summary": "Duplicate bank account",
                    "value": {
                      "error": "Unprocessable Entity",
                      "message": "Validation failed: Business already had this Account Number, Account Type and Transfer Method"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v2/beneficiaries/{id}": {
      "get": {
        "tags": [
          "beneficiary_v2"
        ],
        "summary": "Get a Beneficiary",
        "description": "Retrieves the details of an existing beneficiary by ID.\n",
        "operationId": "getBeneficiaryByIdV2",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the beneficiary.",
            "example": "bene_698c0615XZocZ"
          }
        ],
        "responses": {
          "200": {
            "description": "Beneficiary details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficiaryV2"
                },
                "example": {
                  "id": "bene_698c0615XZocZ",
                  "name": "REDACTED",
                  "type": "business",
                  "category": "lrs",
                  "status": "active",
                  "email": "REDACTED",
                  "phone": "REDACTED",
                  "nickname": "REDACTED",
                  "documents": [
                    "doc_68e7980auYRAs"
                  ],
                  "address": {
                    "address_line1": "REDACTED",
                    "address_line2": "REDACTED",
                    "city": "REDACTED",
                    "state": "NY",
                    "country_code": "USA",
                    "postal_code": "REDACTED"
                  },
                  "bank_account": {
                    "account_number": "REDACTED",
                    "name": "REDACTED",
                    "swift_code": "REDACTED",
                    "local_routing_number": "REDACTED",
                    "currency": "USD",
                    "address": {
                      "address_line1": "REDACTED",
                      "city": "REDACTED",
                      "state": "NY",
                      "country_code": "USA",
                      "postal_code": "REDACTED"
                    },
                    "intermediate_bank": {
                      "name": "REDACTED",
                      "country": "USA",
                      "swift_code": "REDACTED",
                      "account_number": "REDACTED"
                    }
                  },
                  "created_at": "2025-01-15T10:00:00Z",
                  "updated_at": "2025-01-15T10:00:00Z",
                  "notes": {
                    "invoice_ref": "INV-2026-001",
                    "project": "Alpha"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Beneficiary not found or does not belong to the authenticated business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityNotFound"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/payouts/{id}/cancel": {
      "patch": {
        "tags": [
          "Payout"
        ],
        "summary": "Cancel a payout",
        "operationId": "cancelPayout",
        "description": "Cancel a payout that has not yet reached a stage where it can no longer be stopped. A payout with `status: queued` can be cancelled at any time while it waits for the balance to cover it. Nothing is reversed, because no funds were held.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the payout to cancel. Starts with `payout_` followed by letters and digits. An ID of any other shape is rejected with `400` and a message saying it must start with `payout_`; a well-formed ID that doesn't match a payout on your account returns `404`.\n",
            "schema": {
              "type": "string",
              "example": "payout_DdWpHUbOnlg"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_recursiveProbe": {
                      "$ref": "#/components/schemas/RecursiveProbe"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Payout not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityNotFound"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/customer": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "List all customers",
        "description": "Returns a list of your customers. The customers are returned sorted by creation date, with the most recent customers appearing first.\n",
        "operationId": "getCustomers",
        "parameters": [
          {
            "in": "query",
            "name": "customer_type",
            "schema": {
              "type": "string",
              "enum": [
                "individual",
                "business"
              ]
            },
            "description": "Type of customer to filter"
          },
          {
            "in": "query",
            "name": "email_address",
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "Filter customers by email address"
          },
          {
            "in": "query",
            "name": "tax_identification_number",
            "schema": {
              "type": "string"
            },
            "description": "**Applicable only to the LRS (Liberalised Remittance Scheme / resident-India remittance) flow.** Filter customers by PAN (tax identification number). Matched exactly on the normalised value (case-insensitive; the value is trimmed and upper-cased before matching), so a partial PAN returns no results. An invalid PAN format returns a 400 error.\n"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    },
                    "page_meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message indicating which parameter was invalid"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/orders": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create a new order",
        "description": "Create an order for checkout in one of two ways:\n- **Order without quote** — specify the amount, currency and payment methods inline\n  (`Orders`).\n\n- **Order with quote** — pass a `quote_id` from `POST /quotes` (with `resource: payin`) to bind\n  the order to a quote. When supplied, the quote is the single source of truth for amount,\n  currency, payment method, expiry and fee splits; the locked fields (`amount`, `currency`,\n  `price_id`, `payment_methods`, `split_ids`) must not be sent (`CreateOrderWithQuoteRequest`).\n  **When a `quote_id` is supplied, the order's expiry is set to the quote's expiry.**\n\nThe request variant is selected by the presence of `quote_id`.\n\nPass `split_ids` to declare your share of a dynamic pricing rule's fee for this order. See [Dynamic Fee Split](#tag/pricing_split). If a split on the order later stops resolving — Glomo deleted the underlying rule, or the rule is no longer dynamic — opening the checkout returns a `400 Bad Request`, the order is expired, and you must issue a new one.\nTo check complete list of API validations, click [here](/platform/validations#validations-for-creating-orders).\n",
        "operationId": "createOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Orders",
                    "required": [
                      "amount",
                      "currency",
                      "customer_id"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/CreateOrderWithQuoteRequest",
                    "required": [
                      "quote_id",
                      "customer_id"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — validation error. For quote-based orders, possible messages include `quote_id not found`, `quote_id is not a payin quote`, `quote_id has expired`, `quote_id has already been used`, and `amount cannot be specified when quote_id is present` (likewise for any other locked field: `currency`, `price_id`, `payment_methods`, `split_ids`).\n\nFor `split_ids`, every id must resolve to a live dynamic rule declared by your business, every dynamic rule on the same dimension must be declared, and every declared payment method must be enabled for your business.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message.\n",
                      "example": "Currency not supported"
                    }
                  }
                },
                "examples": {
                  "currency_not_supported": {
                    "summary": "Currency not supported",
                    "value": {
                      "error": "Bad Request",
                      "message": "Currency not supported"
                    }
                  },
                  "duplicate_request_id": {
                    "summary": "Duplicate request_id",
                    "value": {
                      "error": "Bad Request",
                      "message": "Order already exists for this request_id"
                    }
                  },
                  "quote_not_found": {
                    "summary": "quote_id not found",
                    "value": {
                      "error": "Bad Request",
                      "message": "quote_id not found"
                    }
                  },
                  "quote_not_payin": {
                    "summary": "quote_id is not a payin quote",
                    "value": {
                      "error": "Bad Request",
                      "message": "quote_id is not a payin quote"
                    }
                  },
                  "quote_expired": {
                    "summary": "quote_id has expired",
                    "value": {
                      "error": "Bad Request",
                      "message": "quote_id has expired"
                    }
                  },
                  "quote_already_used": {
                    "summary": "quote_id has already been used",
                    "value": {
                      "error": "Bad Request",
                      "message": "quote_id has already been used"
                    }
                  },
                  "locked_field_amount": {
                    "summary": "Locked field sent with quote_id",
                    "value": {
                      "error": "Bad Request",
                      "message": "amount cannot be specified when quote_id is present"
                    }
                  },
                  "locked_field_split_ids": {
                    "summary": "split_ids sent with quote_id",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Split ids cannot be specified when quote_id is present"
                    }
                  },
                  "split_ids_unresolved": {
                    "summary": "A split id does not resolve to a live dynamic rule",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Split ids are invalid or no longer point at a dynamic rule: psplit_7Kq2mXbTdLp9"
                    }
                  },
                  "split_ids_incomplete": {
                    "summary": "Another dynamic rule on the same dimension is not declared",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Split ids must be declared for every dynamic rule on the dimension, missing rules: price_Kd82nvQ1TzAe"
                    }
                  },
                  "split_ids_method_not_enabled": {
                    "summary": "A declared payment method is not enabled for your business",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Split ids are not valid for any enabled payment method: bank_transfer"
                    }
                  },
                  "split_ids_required": {
                    "summary": "split_ids omitted on an account where a declaration is required",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Split ids are required when dynamic fee splits are enforced"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/refunds": {
      "post": {
        "tags": [
          "Refund"
        ],
        "summary": "Create refund for a payment",
        "description": "Creates refund for a payment entity if the payment is in success state and no other refund exists.\n",
        "operationId": "createRefund",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "enum": [
                      "Requested By Customer",
                      "Duplicate",
                      "Fraudulent",
                      "Others"
                    ],
                    "description": "The reason for the refund. Send one of the listed values exactly as written: the match is case-sensitive and includes the spaces, so `Requested By Customer` is accepted and `requested_by_customer` or `Requested by customer` is rejected with a `400`.\n"
                  },
                  "payment_id": {
                    "type": "string",
                    "description": "The unique identifier of payment linked to refund.\n",
                    "example": "payt_E602dMzgjpDC"
                  },
                  "document_id": {
                    "type": "string",
                    "description": "The id of document that is uploaded for refund.\n",
                    "example": "doc_E602dMd2adDC"
                  },
                  "document_url": {
                    "type": "string",
                    "description": "The url of document that is uploaded for refund.\n",
                    "example": "https://www.example.com/documents/invoice.pdf"
                  },
                  "file_name": {
                    "type": "string",
                    "description": "The name of document that is uploaded for refund.\n",
                    "example": "invoice"
                  },
                  "amount": {
                    "type": "integer",
                    "description": "The amount to refund, in the smallest unit of the payment's `converted_currency`, the merchant-side currency (cents for USD), or the currency received for a bank transfer not yet matched to a payin. `1000` is $10.00 when that currency is USD. Required for partial refunds. If not provided, the full payment amount will be refunded. If partial refunds are not enabled on your account, an amount below the payment's `converted_amount` is rejected with `400` and the message `Partial refunds are not enabled for this business`, and an amount equal to or greater than it refunds the full payment. The refund returns its own `amount` in the refund's `currency`, which can differ from this one.\n",
                    "example": 1000
                  },
                  "request_id": {
                    "type": "string",
                    "description": "Your unique identifier for this refund, used to reject duplicates. If a refund with the same `request_id` already exists on your account, the request is rejected with `400` and the message `Refund already exists for this request_id`, unless the payment first fails another refund check (for example, it's already fully refunded). The existing refund is not returned. Look it up with `GET /v1/refunds?request_id=<your_request_id>`.\n",
                    "example": "unique_refund_request_id_123"
                  }
                },
                "required": [
                  "payment_id",
                  "reason"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Refund created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message.\n",
                      "example": "Refund is already in progress."
                    }
                  }
                },
                "examples": {
                  "refund_in_progress": {
                    "summary": "Refund already in progress",
                    "value": {
                      "message": "Refund is already in progress."
                    }
                  },
                  "duplicate_request_id": {
                    "summary": "Duplicate request_id",
                    "value": {
                      "error": "Bad Request",
                      "message": "Refund already exists for this request_id"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/payin": {
      "post": {
        "tags": [
          "payment_link"
        ],
        "summary": "Create a new Payment Link",
        "description": "Create a shareable URL for a hosted payment page in one of two ways:\n- **Payment link without quote** — specify the amount, currency, expiry and payment methods\n  inline (`PaymentLink`).\n\n- **Payment link with quote** — pass a `quote_id` from `POST /quotes` (with `resource: payin`) to\n  bind the payment link to a quote. When supplied, the quote is the single source of truth for\n  amount, currency, payment method, expiry and fee splits; the locked fields (`amount`, `currency`,\n  `expires_at`, `price_id`, `payment_methods`, `split_ids`) must not be sent\n  (`CreatePaymentLinkWithQuoteRequest`). **When a `quote_id` is supplied, the payment link's\n  expiry is set to the quote's expiry.**\n\nThe request variant is selected by the presence of `quote_id`.\n\nPass `split_ids` to declare your share of a dynamic pricing rule's fee for this payment link. See [Dynamic Fee Split](#tag/pricing_split). If a split on the payment link later stops resolving — Glomo deleted the underlying rule, or the rule is no longer dynamic — opening the checkout returns a `400 Bad Request`, the payment link is expired, and you must issue a new one.\n\nPayment link creation does not take a `request_id` and has no duplicate-request check. Sending the same request twice without a `quote_id` creates two payment links, and `GET /v1/payin` has no `request_id` filter.\nTo check complete list of API validations, click [here](/platform/validations#validations-for-creating-payment-links).\n",
        "operationId": "createPayin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PaymentLink",
                    "required": [
                      "amount",
                      "currency",
                      "customer_id",
                      "purpose_code",
                      "expires_at"
                    ]
                  },
                  {
                    "$ref": "#/components/schemas/CreatePaymentLinkWithQuoteRequest",
                    "required": [
                      "quote_id",
                      "customer_id",
                      "purpose_code"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment link created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — validation error. For quote-based payment links, possible messages include `quote_id not found`, `quote_id is not a payin quote`, `quote_id has expired`, `quote_id has already been used`, and `amount cannot be specified when quote_id is present` (likewise for any other locked field: `currency`, `expires_at`, `price_id`, `payment_methods`, `split_ids`).\n\nFor `split_ids`, every id must resolve to a live dynamic rule declared by your business, every dynamic rule on the same dimension must be declared, and every declared payment method must be enabled for your business.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message.\n",
                      "example": "You can only send source_amount or target_amount, not both."
                    }
                  }
                },
                "examples": {
                  "amount_conflict": {
                    "summary": "Both amounts specified",
                    "value": {
                      "error": "Bad Request",
                      "message": "You can only send source_amount or target_amount, not both."
                    }
                  },
                  "quote_not_found": {
                    "summary": "quote_id not found",
                    "value": {
                      "error": "Bad Request",
                      "message": "quote_id not found"
                    }
                  },
                  "quote_not_payin": {
                    "summary": "quote_id is not a payin quote",
                    "value": {
                      "error": "Bad Request",
                      "message": "quote_id is not a payin quote"
                    }
                  },
                  "quote_expired": {
                    "summary": "quote_id has expired",
                    "value": {
                      "error": "Bad Request",
                      "message": "quote_id has expired"
                    }
                  },
                  "quote_already_used": {
                    "summary": "quote_id has already been used",
                    "value": {
                      "error": "Bad Request",
                      "message": "quote_id has already been used"
                    }
                  },
                  "locked_field_amount": {
                    "summary": "Locked field sent with quote_id",
                    "value": {
                      "error": "Bad Request",
                      "message": "amount cannot be specified when quote_id is present"
                    }
                  },
                  "locked_field_split_ids": {
                    "summary": "split_ids sent with quote_id",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Split ids cannot be specified when quote_id is present"
                    }
                  },
                  "split_ids_unresolved": {
                    "summary": "A split id does not resolve to a live dynamic rule",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Split ids are invalid or no longer point at a dynamic rule: psplit_7Kq2mXbTdLp9"
                    }
                  },
                  "split_ids_incomplete": {
                    "summary": "Another dynamic rule on the same dimension is not declared",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Split ids must be declared for every dynamic rule on the dimension, missing rules: price_Kd82nvQ1TzAe"
                    }
                  },
                  "split_ids_method_not_enabled": {
                    "summary": "A declared payment method is not enabled for your business",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Split ids are not valid for any enabled payment method: bank_transfer"
                    }
                  },
                  "split_ids_required": {
                    "summary": "split_ids omitted on an account where a declaration is required",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Split ids are required when dynamic fee splits are enforced"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/document": {
      "post": {
        "tags": [
          "Document"
        ],
        "summary": "Create a new document",
        "description": "Uploads a file and returns a document record you can reference from other resources — as the invoice\nor supporting paperwork on a payin or payout, or as evidence when responding to a request for\ninformation (RFI).\n\nSend the request as `multipart/form-data`. The file must be a JPEG, PNG or PDF of at most 10 MB\n(10,485,760 bytes), and the uploaded filename and `document_name` at most 128 characters each.\n\nUpload is a separate step from attaching, and each consumer names the reference differently: pass the\nreturned `id` as `document_id` when creating a payin, an order or a refund, and inside the `documents`\narray when creating a payout or responding to an RFI. Check the schema of the endpoint you are\nattaching to — the key inside `documents` is not the same on every one. A document that is never\nreferenced stays listed but has no effect.\n",
        "operationId": "createDocument",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "document_name": {
                    "type": "string",
                    "description": "The name of the document\n",
                    "example": "invoice"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to be uploaded. This should be sent as a binary in the multipart/form-data request.\n"
                  }
                },
                "required": [
                  "file",
                  "document_name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/subscriptions": {
      "post": {
        "tags": [
          "Subscription"
        ],
        "summary": "Create a new subscription",
        "description": "Creates a new subscription for a customer with specified billing plan and schedule. The subscription will be created in 'created' status and will be activated when the customer completes the first payment.\n\nOn an `as_presented` subscription, pass `split_ids` to declare your share of a dynamic pricing rule's fee. See [Dynamic Fee Split](#tag/pricing_split). The declaration applies to the first payment and to every subsequent auto debit that does not pass `split_ids` of its own. `split_ids` is rejected on a fixed-frequency subscription, because a fixed-frequency plan auto debits without you and so has no point at which to pass a split or replace one that goes stale.\n\nIf the subscription's declaration later stops resolving — Glomo deleted the underlying rule, or the rule is no longer dynamic — the next auto debit is rejected with a `400 Bad Request` until you pass a valid `split_ids` on [Create a payment](#tag/Payment).\n",
        "operationId": "createSubscription",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionRequest"
              },
              "examples": {
                "monthly_subscription": {
                  "summary": "Standard monthly subscription",
                  "value": {
                    "customer_id": "cust_5JU9yv0lGSUP",
                    "product_name": "REDACTED",
                    "product_description": "Flexible monthly insurance for belongings travel and digital assets easy to manage",
                    "plan_name": "REDACTED",
                    "plan_description": "Simple, monthly insurance plan that covers your basic belongings and key digital assets",
                    "amount": 1000,
                    "currency": "USD",
                    "interval_type": "month",
                    "interval_count": 1,
                    "billing_cycles": 12,
                    "start_date": "2025-01-01",
                    "expires_at": "2026-10-15",
                    "notify_customer": true,
                    "starts_with_first_payment": true
                  }
                },
                "as_presented_subscription": {
                  "summary": "Subscription with as_presented interval (flexible billing, merchant-initiated subsequent payments)",
                  "value": {
                    "customer_id": "cust_5JU9yv0lGSUP",
                    "product_name": "REDACTED",
                    "product_description": "Flexible insurance for belongings easy to manage",
                    "plan_name": "REDACTED",
                    "plan_description": "Subscription with flexible billing intervals",
                    "amount": 1000,
                    "max_amount": 5000,
                    "currency": "USD",
                    "interval_type": "as_presented",
                    "expires_at": "2026-10-15",
                    "notify_customer": true,
                    "starts_with_first_payment": true
                  }
                },
                "as_presented_subscription_with_splits": {
                  "summary": "as_presented subscription priced from a declared dynamic fee split",
                  "value": {
                    "customer_id": "cust_5JU9yv0lGSUP",
                    "product_name": "REDACTED",
                    "product_description": "Flexible insurance for belongings easy to manage",
                    "plan_name": "REDACTED",
                    "plan_description": "Subscription with flexible billing intervals",
                    "amount": 1000,
                    "max_amount": 5000,
                    "currency": "USD",
                    "interval_type": "as_presented",
                    "expires_at": "2026-10-15",
                    "notify_customer": true,
                    "starts_with_first_payment": true,
                    "split_ids": [
                      "psplit_7Kq2mXbTdLp9"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubscriptionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - validation error or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message describing the validation failure",
                      "example": "Customer not found"
                    }
                  }
                },
                "examples": {
                  "customer_not_found": {
                    "summary": "Customer not found",
                    "value": {
                      "error": "Bad Request",
                      "message": "Customer not found"
                    }
                  },
                  "split_ids_on_fixed_frequency": {
                    "summary": "split_ids sent on a fixed-frequency subscription",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Split ids are only supported for as_presented subscriptions"
                    }
                  },
                  "split_ids_unresolved": {
                    "summary": "A split id does not resolve to a live dynamic rule",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Split ids are invalid or no longer point at a dynamic rule: psplit_7Kq2mXbTdLp9"
                    }
                  },
                  "split_ids_incomplete": {
                    "summary": "Another dynamic rule on the same dimension is not declared",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Split ids must be declared for every dynamic rule on the dimension, missing rules: price_Kd82nvQ1TzAe"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/prices": {
      "post": {
        "tags": [
          "Price"
        ],
        "summary": "Create a new price",
        "description": "Creates a price governing the referral fee applied to payins, which you then attach to a payin or an\norder by passing its ID as `price_id`. The fee it produces is returned as `referral_fee` on the\npayment and in a quote's `fees` breakdown.\n\nEvery price created here governs the referral fee — there is no fee type to choose, which is why the\nPrice object carries no `fee_type` field. `GET /prices` lists these and only these.\n\n`pricing_type` selects the shape of the rule and which other fields are permitted — sending a field\nbelonging to the other shape is rejected rather than ignored:\n\n- `fixed` requires `fees_amount` and `fees_currency`, and must not include `bps`.\n\n- `percentage` requires `bps`, and must not include `fees_amount` or `fees_currency`.\n\nThe first referral-fee price you create becomes your default automatically, whether or not you send\n`set_as_default`. After that, sending `set_as_default: true` promotes this price and demotes the\nprevious default — a business has at most one default referral-fee price at a time. The default is\nwhat applies when a payin does not name a `price_id`.\n",
        "operationId": "createPrice",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Price"
                  },
                  {
                    "type": "object",
                    "oneOf": [
                      {
                        "properties": {
                          "pricing_type": {
                            "enum": [
                              "fixed"
                            ]
                          },
                          "fees_currency": {
                            "type": "string"
                          },
                          "fees_amount": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "pricing_type",
                          "fees_currency",
                          "fees_amount"
                        ]
                      },
                      {
                        "properties": {
                          "pricing_type": {
                            "enum": [
                              "percentage"
                            ]
                          },
                          "bps": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "pricing_type",
                          "bps"
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payout created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Price"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/lrs/banks": {
      "get": {
        "tags": [
          "lrs"
        ],
        "summary": "List LRS banks",
        "description": "Returns the banks your customers can remit from under LRS. Only banks enabled for your account are listed, so the list can be empty. Use a `bank_code` from this list when you register a customer's LRS bank account and when you create an LRS payin quote.\n",
        "operationId": "getLrsBanks",
        "responses": {
          "200": {
            "description": "Banks enabled for LRS on your account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LrsBank"
                  }
                },
                "example": [
                  {
                    "bank_code": "hdfc",
                    "bank_name": "REDACTED"
                  },
                  {
                    "bank_code": "axis",
                    "bank_name": "REDACTED"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "message": {
                      "type": "string",
                      "example": "Missing token"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/customer/{id}/bank_account": {
      "post": {
        "tags": [
          "lrs"
        ],
        "summary": "Register a customer's LRS bank account",
        "description": "Registers the Indian bank account an LRS remittance is debited from. Pass the returned `id` (`acclrs_...`) as `lrs.bank_account_id` when you create an LRS order.\n\nThis is not the same endpoint as `POST /customer/{id}/bank-accounts` (`createCustomerBankAccount`), and the two sets of accounts are kept apart:\n- A customer can hold several LRS bank accounts. Registering another one adds to the list, whereas\n  `createCustomerBankAccount` keeps one account per customer and replaces it. Registering the same\n  account number at the same bank twice is rejected here.\n\n- LRS bank accounts are not returned by `GET /customer/{id}/bank-accounts`, and a bank account from\n  `POST /customer/{id}/bank-accounts` cannot be used as `lrs.bank_account_id`.\n\n- The account number is returned in full, as sent.\n",
        "operationId": "createLrsCustomerBankAccount",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the customer",
            "example": "cust_68468bfcxaGo2"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LrsCustomerBankAccount",
                "required": [
                  "bank_code",
                  "account_number"
                ]
              },
              "example": {
                "bank_code": "hdfc",
                "account_number": "REDACTED",
                "bank_customer_id": "12345678"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "LRS bank account registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LrsCustomerBankAccount"
                },
                "example": {
                  "id": "acclrs_68468c03g9xt7",
                  "bank_code": "hdfc",
                  "account_number": "REDACTED",
                  "bank_customer_id": "12345678"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — `bank_code` or `account_number` is missing, `bank_code` is not a value returned by `GET /lrs/banks` for your account, `account_number` is not all digits or its length is outside the range the bank accepts, `bank_customer_id` is not all digits or its length is outside the range the bank accepts, the customer does not exist on your account, or the same account number is already registered for this customer at the same bank.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "Bank account already exists"
                    }
                  }
                },
                "examples": {
                  "account_number_missing": {
                    "summary": "account_number missing",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Account number can't be blank"
                    }
                  },
                  "bank_code_not_valid": {
                    "summary": "bank_code is not a supported bank",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Bank code HDFC is not a valid bank code"
                    }
                  },
                  "bank_code_not_enabled": {
                    "summary": "Bank not enabled for your account",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Bank code axis is not enabled for your business"
                    }
                  },
                  "bank_customer_id_not_digits": {
                    "summary": "bank_customer_id contains a non-digit",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Bank customer ID must contain only digits"
                    }
                  },
                  "customer_not_found": {
                    "summary": "Customer does not exist on your account",
                    "value": {
                      "error": "Bad Request",
                      "message": "Customer does not exist"
                    }
                  },
                  "duplicate_account": {
                    "summary": "Account already registered at the same bank",
                    "value": {
                      "error": "Bad Request",
                      "message": "Bank account already exists"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "message": {
                      "type": "string",
                      "example": "Missing token"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/lrs/quotes": {
      "post": {
        "tags": [
          "lrs"
        ],
        "summary": "Create an LRS quote",
        "description": "Creates a quote for an LRS remittance (`resource: payin`) or an LRS withdrawal (`resource: payout`). Use it to show the customer the exchange rate, the GST and the converted amount before they proceed. Payout quotes expire 30 minutes after they are created; for a payin quote, rely on the returned `expires_at`.\n\nThis is not the same endpoint as `POST /quotes` (`createQuote`). To create an LRS order, pass the payin quote's `id` as `lrs.lrs_quote_id` on `POST /orders`, with `currency` set to `USD` and `amount` equal to the `USD` side of the quote: `from.amount` when `source_currency` is `USD`, `to.amount` when it is `INR`.\n\nFor a payin quote, `bank_code` is required and must be a bank enabled for your account (see `GET /lrs/banks`). Either direction between `INR` and `USD` is supported. For a payout quote, only `USD` to `INR` is supported and `bank_code` must not be sent. LRS must be enabled for your account.\n",
        "operationId": "createLrsQuote",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLrsQuoteRequest"
              },
              "examples": {
                "payin_inr_to_usd": {
                  "summary": "Payin quote from INR to USD",
                  "value": {
                    "bank_code": "hdfc",
                    "source_amount": 4400000,
                    "source_currency": "INR",
                    "target_currency": "USD"
                  }
                },
                "payout_usd_to_inr": {
                  "summary": "Payout quote from USD to INR",
                  "value": {
                    "resource": "payout",
                    "source_amount": 1000000,
                    "source_currency": "USD",
                    "target_currency": "INR"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Quote created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LrsQuote"
                },
                "examples": {
                  "payin_inr_to_usd": {
                    "summary": "Payin quote from INR to USD",
                    "value": {
                      "id": "quote_6ab60de4Kx7Pq",
                      "from": {
                        "amount": 4400000,
                        "currency": "INR"
                      },
                      "to": {
                        "amount": 51763,
                        "currency": "USD"
                      },
                      "fx_rate": "84.85",
                      "bank_code": "hdfc",
                      "total_tax": 7906,
                      "expires_at": "2026-09-25T06:30:04.113Z",
                      "created_at": "2026-09-25T06:00:04.113Z"
                    }
                  },
                  "payout_usd_to_inr": {
                    "summary": "Payout quote from USD to INR",
                    "value": {
                      "id": "quote_6ab4e690Rt3Vm",
                      "from": {
                        "amount": 1000000,
                        "currency": "USD"
                      },
                      "to": {
                        "amount": 93953000,
                        "currency": "INR"
                      },
                      "fx_rate": "94.0",
                      "total_tax": 47000,
                      "expires_at": "2026-09-24T09:30:00.412Z",
                      "created_at": "2026-09-24T09:00:00.412Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — a required field is missing, a currency is not `INR` or `USD`, both currencies are the same, `source_amount` is not a whole number, `bank_code` is missing on a payin quote or is not enabled for your account, `bank_code` is sent on a payout quote, a payout quote is not `USD` to `INR`, the amount on a payin quote is outside the bank's limits, the converted amount on a payout quote is outside the range a payout can be sent for, or LRS is not enabled for your account.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "Validation failed: Bank code can't be blank"
                    }
                  }
                },
                "examples": {
                  "bank_code_missing": {
                    "summary": "bank_code missing on a payin quote",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Bank code can't be blank"
                    }
                  },
                  "bank_code_not_enabled": {
                    "summary": "Bank not enabled for your account",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Bank code icici is not enabled for your business"
                    }
                  },
                  "currency_not_supported": {
                    "summary": "Currency other than INR or USD",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Source currency is not supported"
                    }
                  },
                  "same_currency": {
                    "summary": "source_currency equals target_currency",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: source_currency and target_currency cannot be the same"
                    }
                  },
                  "amount_not_integer": {
                    "summary": "source_amount is not a whole number",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Source amount must be an integer"
                    }
                  },
                  "below_minimum": {
                    "summary": "Amount below the bank's minimum",
                    "value": {
                      "error": "Bad Request",
                      "message": "Amount 100.00 INR is below minimum limit. (Minimum limit is 10.00 USD)"
                    }
                  },
                  "above_maximum": {
                    "summary": "Amount above the bank's maximum",
                    "value": {
                      "error": "Bad Request",
                      "message": "Amount 5,000,000.00 INR exceeds maximum limit. (Maximum limit is 50,000.00 USD)"
                    }
                  },
                  "bank_code_on_payout": {
                    "summary": "bank_code sent on a payout quote",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Bank code is not supported for payout quotes"
                    }
                  },
                  "payout_corridor": {
                    "summary": "Payout quote other than USD to INR",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: payout quotes are only supported from USD to INR"
                    }
                  },
                  "payout_no_options": {
                    "summary": "Payout amount outside the range a payout can be sent for",
                    "value": {
                      "error": "Bad Request",
                      "message": "No available options for this amount"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "message": {
                      "type": "string",
                      "example": "Missing token"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity — no exchange rate is available for the bank right now.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unprocessable Entity"
                    },
                    "message": {
                      "type": "string",
                      "example": "No active exchange rate found"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api-keys/rotate": {
      "post": {
        "tags": [
          "api_key"
        ],
        "summary": "Rotate API key",
        "description": "Rotates the secret API key for your account, generating a new key immediately. The previous key remains valid until `expire_after_in_seconds` has elapsed, giving you time to update your integrations. Once the expiry period passes, the old key is revoked and any requests using it will return `401 Unauthorized`.\n",
        "operationId": "rotateApiKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "expire_after_in_seconds"
                ],
                "properties": {
                  "expire_after_in_seconds": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 604800,
                    "description": "Duration (in seconds) for which the previous key remains valid after rotation. Must be an integer between 0 and 604800 (7 days), sent as a JSON number. A value outside that range, or a string such as `\"3600\"`, returns `400`. Use this window to update all integrations before the old key is revoked.\n",
                    "example": 3600
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key rotated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "secret_key": {
                      "type": "string",
                      "description": "The newly generated secret API key. Store it securely — it will not be shown again.",
                      "example": "<NEW_JWT>"
                    },
                    "previous_key_expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 timestamp (UTC) at which the previous key will be revoked.",
                      "example": "2026-05-13T12:10:57Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid `expire_after_in_seconds` value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Bad Request"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "non_integer": {
                    "summary": "Non-integer value passed",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Expire after in seconds must be an integer"
                    }
                  },
                  "out_of_range": {
                    "summary": "Value outside allowed range (0–604800)",
                    "value": {
                      "error": "Bad Request",
                      "message": "Validation failed: Expire after in seconds must be between 0 and 604800"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Unauthorized"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Missing token"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "RecursiveProbe": {
        "type": "object",
        "description": "Synthetic self-referential schema for the cycle-guard test.",
        "x-internal": true,
        "properties": {
          "label": {
            "type": "string"
          },
          "child": {
            "$ref": "#/components/schemas/RecursiveProbe"
          }
        }
      },
      "CreatePayoutWithoutQuoteRequest": {
        "type": "object",
        "title": "CreatePayoutWithoutQuoteRequest",
        "additionalProperties": false,
        "description": "Create a payout without a quote by specifying the beneficiary, currencies and amount. Fees and the FX rate are determined at creation time. Use this variant when you have not pre-generated a quote. To create a payout against a locked quote instead, see `CreatePayoutWithQuoteRequest`.\n",
        "properties": {
          "purpose_code": {
            "type": "string",
            "description": "Why you are sending this payout, as a code from a fixed set: see [Payout purpose codes](/payout/purpose-codes). This is not free text. Pass a listed code exactly, for example `S0802`; matching is exact and case-sensitive. Payouts and payins use different sets, so a payin code such as `P1401` is rejected here. An unrecognised code is rejected with `400 Bad Request`.\n\nINR payouts on a local rail (`neft`, `imps`, `rtgs`, `upi`) accept only a subset of the payout codes. A code outside that subset is rejected with `400 Bad Request`, with a message saying the code is not valid for the selected payment rail.\n",
            "example": "S0802"
          },
          "beneficiary_id": {
            "type": "string",
            "description": "The unique identifier for the beneficiary.\n",
            "example": "bene_5JU9yv0lGSUP"
          },
          "source_currency": {
            "type": "string",
            "format": "iso-4217",
            "enum": [
              "USD",
              "EUR",
              "GBP",
              "AED",
              "SGD",
              "AUD"
            ],
            "description": "The currency of the balance the payout is paid from, as an [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code from the list above. Any other value returns `400` with a message containing `Source currency is not supported`.\n",
            "example": "USD"
          },
          "destination_currency": {
            "type": "string",
            "format": "iso-4217",
            "enum": [
              "USD",
              "EUR",
              "GBP",
              "AED",
              "SGD",
              "AUD",
              "INR"
            ],
            "description": "The currency in which the beneficiary receives the payout. The currency code is in [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) format.\n",
            "example": "INR"
          },
          "source_amount": {
            "type": "integer",
            "minimum": 1,
            "description": "The amount you intend to send, in the smallest unit of `source_currency` (cents for USD). `100000` is $1,000.00 when `source_currency` is USD.\nExactly one of `source_amount` or `destination_amount` must be provided (not both).\n",
            "example": 100000
          },
          "destination_amount": {
            "type": "integer",
            "minimum": 1,
            "description": "The amount the beneficiary will receive, in the smallest unit of `destination_currency` (paise for INR, cents for USD). `8235000` is ₹82,350.00 when `destination_currency` is INR.\nExactly one of `source_amount` or `destination_amount` must be provided (not both).\n",
            "example": 8235000
          },
          "payment_rail": {
            "type": "string",
            "default": "swift",
            "enum": [
              "upi",
              "rtgs",
              "neft",
              "imps",
              "ipp",
              "fts",
              "sepa",
              "fps",
              "npp",
              "swift"
            ],
            "description": "The payment rail to use for this payout. Each local rail serves one corridor and is only available when `destination_currency` matches it: `upi`, `imps`, `neft`, `rtgs` for `INR`; `ipp`, `fts` for `AED`; `sepa` for `EUR`; `fps` for `GBP`; `npp` for `AUD`. `swift` is used for international transfers and is available on any corridor. The rail must be eligible for the beneficiary and the amount must fall inside the rail's limits. Defaults to `swift` if omitted; a local rail is not selected automatically.\n",
            "example": "neft"
          },
          "invoice_number": {
            "type": "string",
            "maxLength": 50,
            "description": "An optional invoice reference for this payout, up to 50 characters. It is returned on the payout as `invoice_number`. A longer value returns `400` with a message containing `Invoice number must be 50 characters or less`.\n",
            "example": "INV-2026-001"
          },
          "request_id": {
            "type": "string",
            "maxLength": 64,
            "description": "Your unique identifier for this payout, at most 64 characters, used to reject duplicates. If a payout with the same `request_id` already exists on your account, the request is rejected with `409 Conflict` and the message `Record already exists`; no second payout is created and the existing payout is not returned. Look it up with `GET /v1/payouts?request_id=<your_request_id>`. A value longer than 64 characters is rejected with `400`.\n",
            "example": "req-7f3a9c20"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of document IDs to attach to the payout.\n",
            "example": [
              "doc_5JU9yv0lGSUP",
              "doc_678a5aa9SKkEr"
            ]
          },
          "notes": {
            "$ref": "#/components/schemas/Notes"
          }
        }
      },
      "CreatePayoutWithQuoteRequest": {
        "type": "object",
        "title": "CreatePayoutWithQuoteRequest",
        "additionalProperties": false,
        "description": "Create a payout against a previously generated quote (see `POST /quotes` with `resource: payout`). The quote locks the fees, FX rate, currencies, amount and payment rail. The locked fields (`source_amount`, `destination_amount`, `source_currency`, `destination_currency`, `payment_rail`) must NOT be sent — including any of them returns a `400 Bad Request`.\n",
        "properties": {
          "quote_id": {
            "type": "string",
            "description": "The identifier of a payout quote generated via `POST /quotes`. The quote must exist for your business, must be a payout quote, must not have expired, and must not already have been used for another payout.\n",
            "example": "quote_3m4n5o6p7q"
          },
          "beneficiary_id": {
            "type": "string",
            "description": "The unique identifier for the beneficiary. The quote's payment rail must be supported by this beneficiary, otherwise the request returns a `400 Bad Request`.\n",
            "example": "bene_5JU9yv0lGSUP"
          },
          "purpose_code": {
            "type": "string",
            "description": "Why you are sending this payout, as a code from a fixed set: see [Payout purpose codes](/payout/purpose-codes). This is not free text. Pass a listed code exactly, for example `S0802`; matching is exact and case-sensitive. Payouts and payins use different sets, so a payin code such as `P1401` is rejected here. An unrecognised code is rejected with `400 Bad Request`.\n\nINR payouts on a local rail (`neft`, `imps`, `rtgs`, `upi`) accept only a subset of the payout codes. A code outside that subset is rejected with `400 Bad Request`, with a message saying the code is not valid for the selected payment rail.\n",
            "example": "S0802"
          },
          "invoice_number": {
            "type": "string",
            "maxLength": 50,
[...]
