[
  {
    "scope": "https://docs.glomo.one:443",
    "method": "GET",
    "path": "/llms.txt",
    "body": "",
    "status": 200,
    "response": "# Glomopay docs\n\n## Payin\nCollecting money and the objects it touches.\n - [Purpose Codes](https://docs.glomo.one/payin/purpose-codes.md)\n\n## Platform\nEvents and delivery.\n - [Webhooks](https://docs.glomo.one/platform/webhooks.md)\n",
    "rawHeaders": {
      "content-type": "text/plain"
    },
    "responseIsBinary": false
  },
  {
    "scope": "https://docs.glomo.one:443",
    "method": "GET",
    "path": "/payin/purpose-codes.md",
    "body": "",
    "status": 200,
    "response": "# Purpose Codes\n\nPurpose codes are essential for compliance and are mandatory when sending money across borders. They help categorise the nature of your transactions, ensuring transparency and adherence to regulatory requirements. If you're unsure about selecting the right purpose code for your business needs, our team is here to assist [...]
  {
    "scope": "https://docs.glomo.one:443",
    "method": "GET",
    "path": "/platform/webhooks.md",
    "body": "",
    "status": 200,
    "response": "# Webhooks\n\n## What is a Webhook?\n\nWebhooks allow your application to receive real-time notifications about events that occur in your account, such as payment link creation, payment completion, or payment failures.\n\nTechnically, a webhook is an **HTTP POST request** that Glomo sends to a URL you control, containing a **JSON payload** t[...]
